

<h1>Under vilken period vill du hyra din bil?</h1>

<br />
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="ListAvailableCars" asp-controller="Car">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="d-flex gap-3">
                        <div class="col">
                            <label for="StartDate" class="control-label fw-bold fs-6 mb-3">Datum för att hämta upp</label>
                            <input for="StartDate" name="StartDate" class="form-control" type="date" />
                        </div>
                        <div class="col">
                            <label for="EndDate" class="control-label fw-bold fs-6 mb-3">Datum för att lämna</label>
                            <input for="EndDate" name="EndDate" class="form-control" type="date" />
                        </div>
                        <br />
                        <div class="form-group mt-3">
                            <input type="submit" value="Se tillgänglighet" class="btn mainBtn mt-4" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
