@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen tillbaka <br /><img class="main-logo" src="~/images/carRentalPicnobg.png" alt="En bild med en bil på som har lite flammor över sig. Det står Friberg Car Rentals med stora bokstäver på bilden." /></h1>
    
    
</div>
