@{
    ViewData["Title"] = "Sidan du aldrig skulle nått";
}
<h1>@ViewData["Title"]</h1>

<p>Om du har lyckats komma hit så har du hamnat fel.</p>
<a asp-action="Index" asp-controller="Home" class="btn mainBtn">Tillbaka</a>
